<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SS_SOFTWARE_CHIT.Properties.Settings.MainConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DATABASE\Main_db.accdb;Jet OLEDB:Database Password=SS9975"
            providerName="System.Data.OleDb" />
        <add name="SS_SOFTWARE_CHIT.Properties.Settings.Settings_dbConnection"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DATABASE\Settings_db.accdb;Jet OLEDB:Database Password=SS9975"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>